
@{
    ViewBag.Title = "changePassword";
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<style>
    form {
        min-width: 300px;
    }
    .changepassmenu a, .profile {
        color: #F66962 !important;
        text-shadow: 1px 1px 2px black;
    }
</style>

<form class="rounded border shadow w-50 mx-auto mt-5 mb-3 p-4" action="/home/changePassword" method="post">
    <h4 class="text-center fw-bolder">Change Your <span class="text-danger "> Password...</span></h4>
    <b>Old Password</b>
    <input type="text" name="oldPassword" placeholder="Enter Your Old Password" class="form-control mb-2" />
    <b>New Password</b>
    <input type="password" name="newPassword" placeholder="Enter Your New Password" class="form-control mb-2"/>
    <b>Confirm Password</b>
    <input type="password" name="conPassword" placeholder="Confirm Your New Password" class="form-control mb-2"/>
    <input type="submit" value="Change Password" class="btn btn-primary mw-100 w-100" />
</form>

