
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<style>
    form{
        min-width:300px;
    }
</style>

<form class="mt-5 w-25 p-3 rounded border shadow mx-auto" method="post" action="/home/ResetPassword">
    <h4 class="text-center text-secondary mb-3">Reset <span class="text-primary">Password..</span></h4>
    <input type="password" name="password" id="password" placeholder="Enter New Password" class="form-control my-2" />
    <input type="password" name="cpassword" id="cpassword" placeholder="Confirm Your Password" class="form-control my-2" />
    <span id="passalert" class="text-danger"></span>
    <input type="submit" value="Update" id="btn" disabled class="btn btn-primary mw-100 w-100 my-2" />
</form>

<script>
    //check password is matched or not
    document.getElementById("cpassword").addEventListener("keyup", function () {
        if ($("#password").val() != $("#cpassword").val()) {
            $("#passalert").text("Password Does Not Match");
            $("#btn").attr("disabled", "");
        } else {
            $("#btn").removeAttr("disabled", "");
            $("#passalert").text("")
        }
    })
</script>

